{% extends 'base.html' %}

{% load static %}

{% block title %}
Detalhe_curso
{% endblock %}

{% block head %}
{%endblock%}

{% block body %}


<div class="container">
 <h3>Produto: {{ produtos.nome }}</h3>
 <h1 class="nome">{{ produtos.nome }}</h1>  

 <div class="row">
        
        <div class="col-md-6">
                <img src="{{ produtos.imagem.url }}" alt="Imagem" width="600px">
        </div> 
        <div class="col-md-2 tex-left">
               
                <p class="preço">Preço: {{ produtos.preco }}</p>
                <p class="marca">Marca: {{ produtos.marca }}</p>
                <p class="descrição">Descrição: {{ produtos.descricao }}</p> 
        </div>

        <button type="submit"> <a href="https://chat.whatsapp.com/HutCKZNbmyT6Wo6AF3SQqv" class="btn btn-primary btn-sm">Comprar</a></button>
        <button type="submit"> <a href="{% url 'produtos_listar' %}" class="btn btn-primary btn-sm">Voltar</a></button>


        </div>
 </div>

 {% endblock %}

\
