{% extends 'base.html' %}

{% block title %}
Detalhe_curso
{% endblock %}

{% block head %}
{%endblock%}

{% block body %}

        <h1 class="nome">{{ produtos.nome }}</h1>
        <p></p>


<div>
    <div class="imagens">
            <img class="imgs" src="{{produtos.imagem.url}}" alt="Imagem" >
    </div>

        <div>
                <p></p>
        <p class="preço">{{ produtos.preco }}</p>
        <p class="marca">{{ produtos.marca }}</p>
        <p class="descrição">{{ produtos.descriçao }}</p>

        </div>
</div>

{% endblock %}

