{% extends 'base.html' %}

{% block center %}
<div class="site">
    <h3>Bem-vindo ao nosso site!</h3>
    <hr>
    <P id="psite">O grupo <strong>“Filomenas”</strong> foi fundado em meados de 2019 no município de Portalegre no quilombo Sítio Pêga.
         Esse grupo/organização já conta com mais de 25 mulheres, e  atualmente tanto homens quanto crianças podem
          fazer parte. Essa iniciativa  tem como objetivo expandir a venda dos seus produtos caseiros, que 
          vão desde doces a frutas, que são produzidas no quilombo. Além disso, comercializar suas as panelas 
          de barro, prática que é tradicional na comunidade, pois foi uma tradição mantida pelos anciãos do
           quilombo durante décadas. Portanto, essa associação anseia expandir a vendas dos seus produtos, 
           consequentemente, aumentar a 
        atividade econômica local e , principalmente, busca divulgar sua cultura e tradições..</P>
</div>

{% endblock %}
