{% extends 'base.html' %}
{% load static %}


{% block center %}
<br>
  <h2 class="text-center">Seja Bem-vindo a página de produtos</h2>
<hr>
<br>

<body>

 <div class="container">

    <div class="row mt-3">
     {% for produto in produtos %} 

          <div class="col-md-4">

      <div class="m-5">
        
             <h4><strong>{{ produto.nome }}</strong></h4>
             <hr>
             <br>            
              <img src="{{ produto.imagem.url}}" class="img-fluid" style="height: 200; object-fit: cover;"/>
             
             <br>
             <p></p>
             <h6>Preço: R${{ produto.preco }}</h6>
             <br>
             
             <a href="{% url 'detalhar_produto' id=produto.id %}" class="btn btn-success">Comprar</a>

           <br>
      </div>
          </div>
         
      {% endfor %}
  </div>
</div>
    
    </body>
  
{% endblock %}



  