{% extends 'base.html' %}
{% load static %}


{% block center %}

  <h2>Seja Bem-vindo a página de produtos</h2>



<body>
  <div class="container">
<div class="row">
     {% for produto in produtos %} 
          <div class="col-md-4">

             <h4>{{ produto.nome }}</h4>
             <div> 
              <img src="{{ produto.imagem.url}}" width="150"/>
             </div>
           <button type="submit">  <a href="{% url 'detalhar_produto' id=produto.id %}" class="btn btn-primary btn-sm">Comprar</a></button>
             

          </div>
      {% endfor %}
</div>
</div>
    
    </body>
  </table>
{% endblock %}



  