{% extends 'base.html' %}

{% load static %}

{% block title %}
Area do administrador
{% endblock %}

{% block body %}

<h2 class="mt-3">Painel do administrador</h2>

<div class="row mt-3">
  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3">
    
      <div class="card-body">
        <h2 class="card-title">Total de Produtos: {{ total_produtos }}</h2>
      </div>
    </div>
  </div>

{% endblock %}


{% block center %}

  <h2> Tabela com os produtos cadastrados</h2>
  

<body>
  <table class="table table-bordered">

<thead>
      <tr>
          <th>Nome</th>
          <th>Marca</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Imagem</th>
      </tr>
</thead>

        <tbody>
              {% for produto in produtos %} 
              <tr>
                  <td>{{produto.nome}}</td>
                  <td>{{produto.marca}}</td>
                  <td>{{produto.preco}}</td>
                  <td>{{produto.descricao}}</td>
                  <td> <img src="{{ produto.imagem.url}}" width="150"/></td>
                  <td>
                    <a href="{% url 'produto_editar' id=produto.id %}">Editar</a>
                    <a href="{% url 'produto_remover' id=produto.id %}">Deletar</a>
                  </td>

              </tr>
              {% endfor %}
            
        </tbody>


        
    </table>
    <br>
    <br>
    <button><a href="{% url 'produtos_cadastrar' %}" class="btn btn-success mb-3">Novo Cadastro</a></button>
    <button type="submit"> <a href="{% url 'produtos_listar' %}" class="btn btn-primary btn-sm">Página de produtos</a></button>


</body>



 {% endblock %}


