{% block center %}
    <h2> Formulário para cadastro dos produtos</h2>
       
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

          <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Imagem</label>
          {{ form.imagem }}  
            </div>

            <div class="row mb-3">
              <label>Nome do produto</label>
                   {{ form.nome }}
            </div>

            <div class="row mb-3">
              <label>Marca  do produto</label>
                   {{ form.marca}}
            </div>

            <div class="row mb-3">
              <label>Preço do produto</label>
                   {{ form.preco }}
            </div>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
              {{ form.descricao }}
            </div>
  
          
             <br>   
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form> 
          <!-- <a href="{% url 'produtos_listar' %}" class="btn btn-success">Voltar</a> -->

         <a href="{% url 'produtos_listar' %}" class="btn btn-primary btn-sm">Voltar</a>
         <a href="{% url 'total_produtos' %}" class="btn btn-primary btn-sm">administrador</a>



{% endblock %}


<!-- <form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form_as_p}}
<input type="submit" value="Enviar">
</form> -->