{% extends 'base.html' %}
{% load static %}

{% block center %}
<br>
    <h2 class="text-center m-4.+"> Formulário para cadastro dos produtos</h2>
       
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="m-4">

      <div class="mb-3">
          <label for="nome" class="form-label"><strong>Nome</strong></label>
          {{ form.nome }}
      </div>
      
      <div class="mb-3">
          <label for="nome" class="form-label"><strong>Marca</strong></label>
          {{ form.marca }}
      </div>

      <div class="mb-3">
          <label for="nome" class="form-label"><strong>Preço</strong></label>
          {{ form.preco }}
      </div>
      

      <div class="mb-3">
          <label for="nome" class="form-label"><strong>Descrição</strong></label>
          {{ form.descricao }}
      </div>

      <div class="mb-3">
          <label for="nome" class="form-label"><strong>Imagem</strong></label>
          {{ form.imagem }}
      </div>
    </div>

      <button type="submit" class="btn btn-success m-3">Enviar</button>
  </form>
  
  <div class="m-3 text-center">
    <a href="{% url 'produtos_listar' %}" class="btn btn-secondary">Voltar</a>
    <a href="{% url 'produtor_listar_admin' %}" class="btn btn-secondary">administrador</a>
  
  </div>
  

  {% endblock %}


    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

          <div class=" mb-3">
          <label for="" class="form-label">Imagem</label>
          {{ form.imagem }}  
            </div>

            <div class="mb-3">
              <label for="nome" class="form-label">Nome do produto</label>
                   {{ form.nome }}
            </div>

            <div class=" mb-3">
              <label for="nome" class="form-label">Marca  do produto</label>
                   {{ form.marca}}
            </div>

            <div class="mb-3">
              <label for="nome" class="form-label">Preço do produto</label>
                   {{ form.preco }}
            </div>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
              {{ form.descricao }}
            </div>
  
          
             <br>   
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>  -->
          <!-- <a href="{% url 'produtos_listar' %}" class="btn btn-success">Voltar</a> -->

        





<!-- <form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form_as_p}}
<input type="submit" value="Enviar">
</form> -->